[lib]
proc-macro = true

[package]
name = "tealr_derive"
version = "0.1.0"
authors = ["Lenscas <lenscas@gmail.com>"]
edition = "2018"
repository = "https://github.com/lenscas/tealr/"
description = "The derive macro for tealr"
license = "MIT OR Apache-2.0"
keywords=["derive","macro","teal","lua","tealr"]

[dependencies]
syn = "1"
quote = "1"
