name: Tests
on:
  pull_request:
    paths:
      - 'tealr/src/**.rs'
      - 'tealr_derive/src/**.r'
      - 'Cargo.toml'
      - 'tealr/Cargo.lock'
      - 'tealr_derive/Cargo.toml'
      - '.github/workflows/ci.yml'
jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: stable
        components: rustfmt
    - name: Formatting check
      run: cargo fmt --all -- --check

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
    - uses: hecrj/setup-rust-action@v1.3.4 
      with:
        rust-version: stable
    - uses: leafo/gh-actions-lua@v8.0.0
      with:
        luaVersion: "5.3"
    - uses: leafo/gh-actions-luarocks@v4.0.0
    - name:  Install dependencies
      run: luarocks install tl
    - uses: actions/checkout@master
    - name: run tests
      run: cargo test
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: hecrj/setup-rust-action@v1.3.4 
      with:
        rust-version: stable
        components: clippy
    - uses: actions/checkout@master
    - name: Clippy
      run: cargo clippy -- -D warnings