name: Tests
on:
  pull_request:
    paths:
      - 'tealr/src/**.rs'
      - 'tealr_derive/src/**.r'
      - 'Cargo.toml'
      - 'tealr/Cargo.lock'
      - 'tealr_derive/Cargo.toml'
      - '.github/workflows/ci.yml'
jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: stable
        components: rustfmt
    - name: Formatting check
      run: cargo fmt --all -- --check

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest] #windows-latest, macOS-latest
    steps:
    - uses: hecrj/setup-rust-action@v1.3.4 
      with:
        rust-version: stable
    - uses: actions/checkout@master
    - name:  Install dependencies and run tests
      run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
              sudo pip install git+https://github.com/luarocks/hererocks
              hererocks lua53 -l5.3 -rlatest  
              source lua53/bin/activate 
              luarocks install tl
              eval $(luarocks path --bin)
              cargo test
              
          elif [ "$RUNNER_OS" == "Windows" ]; then
              pip install git+https://github.com/luarocks/hererocks
              hererocks lua53 -l5.3 -rlatest
              echo "before activate"
              lua53/bin/activate
              echo "time to install"
              luarocks install tl
              cargo test

          elif [ "$RUNNER_OS" == "macOS" ]; then
              brew install lua@5.3
              brew install luarocks
              luarocks install tl
              cargo test
          else 
            echo "$RUNNER_OS not supported"
            exit 1
          fi
      shell: bash
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: hecrj/setup-rust-action@v1.3.4 
      with:
        rust-version: stable
        components: clippy
    - uses: actions/checkout@master
    - name: Clippy
      run: cargo clippy -- -D warnings